<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suleiman.material" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FabHideActivity"
            android:label="@string/title_fab_animations" />
        <activity
            android:name=".activities.ToolbarOverlayActivity"
            android:label="@string/title_activity_toolbar_test" />
        <activity
            android:name=".activities.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".activities.AnimateToolbar"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".activities.TabAnimationActivity"
            android:label="@string/title_activity_tab_animation" >
        </activity>
        <activity
            android:name=".activities.StickyViewActivity"
            android:label="@string/title_activity_sticky_view" >
        </activity>
        <activity
            android:name=".activities.SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" >
        </activity>
        <activity
            android:name=".activities.MiniDrawerActivity"
            android:label="@string/title_activity_mini_drawer" >
        </activity>
    </application>

</manifest>
